.modal {
  z-index: 1;
  background-color: #f1faeeb8;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.details {
  height: 50%;
  width: 50%;
  background-color: #a8dadc;
  border-radius: 5px;
}

.title {
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #0a122a;
  width: 70%;
  display: inline-block;
}

.text-content-box {
  background-color: #f1faee;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #0a122a;
  width: 80%;
  margin: auto;
  height: 70%;
  overflow: scroll;
  border-radius: 5px;
}

.kanban-board {
  width: 90%;
  height: 800px;
  margin: auto;
  /* overflow: scroll; */
}

.kanban-header {
  display: flex;
  margin: 16px;
}

.kanban-grid {
  overflow: scroll;
  height: 90%;
}

.kanban-header-title {
  display: inline-block;
  /* width: 285px; */
  width: 22%;
  margin: auto;
  height: 63px;
  background-color: #06aed5;
  color: #f1faee;
  font-size: 36px;
  font-family: "Segoe UI";
  font-style: italic;
  border-radius: 5px;
  overflow: hidden;
}

.workset {
  /* border: 2px solid red; */
  display: flex;
  margin: 10px;
  min-height: 25%;
}

.avatar {
  background-color: #06aed5;
  border-radius: 5px;
  color: #0a122a;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: bold;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}
.avatar span {
  margin: auto;
}

.workset-storylist {
  width: 22%;
  float: left;
  background-color: #a8dadc;
  border-radius: 5px;
  margin: auto;
  height: 300px;
  /* overflow-y: scroll; */
}

/* .workset-storylist ::-webkit-scrollbar {
  width: 5px;
} */
.storylist-stories {
  overflow-y: scroll;
  height: 250px;
}

.storylist-story {
  /* color: red; */
  display: block;
  background-color: #f1faee;
  font-family: "Segoe UI";
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  color: #0a122a;
  margin: 24px;
  border-radius: 5px;
  height: 48px;
  overflow: hidden;
  padding: 8px;
}

.story-task {
  width: 20%;
  height: 20%;
  min-height: 80px;
  margin: 5px;
  background-color: #06aed5;
  font-family: "Segoe UI";
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
  color: #0a122a;
  border-radius: 5px;
  text-align: center;
  padding: 1%;
  /* display: flexbox; */
  overflow-y: hidden;
}

.story-task span {
  display: block;
}

.workset-started {
  width: 22%;
  height: 300px;
  float: left;
  background-color: #a8dadc;
  border-radius: 5px;

  margin: auto;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
}

/* .workset-started div {
  color: green;
} */

.workset-completed {
  width: 22%;
  height: 300px;
  float: left;
  background-color: #a8dadc;
  border-radius: 5px;

  margin: auto;
  display: flex;
  overflow-y: scroll;
  flex-wrap: wrap;
  text-decoration: line-through;
}

::-webkit-scrollbar {
  width: 5px;
}
